/* 由开发人员工具生成。它可能不是原始源文件的准确表示形式。*/
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #332; FONT-SIZE: 12px; PADDING-TOP: 0px;				    
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
field {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Geneva, sans-serif; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: left; BACKGROUND: #fff
}
.top {
	BACKGROUND: url(images/top.gif)
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
BUTTON {
	FONT-SIZE: 12px
}
file {
	FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
P {
	LINE-HEIGHT: 1.8em
}
LI {
	LINE-HEIGHT: 1.8em
}
INPUT {
	FONT-FAMILY: Tahoma, Geneva, sans-serif; HEIGHT: 15px
}
SELECT {
	FONT-FAMILY: Tahoma, Geneva, sans-serif; HEIGHT: 15px
}
TEXTAREA {
	FONT-FAMILY: Tahoma, Geneva, sans-serif; HEIGHT: 15px
}
.textarea_style {
	FONT-FAMILY: Tahoma, Geneva, sans-serif; HEIGHT: 15px
}
.inputtitle {
	LINE-HEIGHT: 16px; HEIGHT: 16px
}
.input_focus {
	LINE-HEIGHT: 16px; HEIGHT: 16px
}
.input_blur {
	LINE-HEIGHT: 16px; HEIGHT: 16px
}
.input_focus {
	BACKGROUND-COLOR: #f6fcff; FONT-SIZE: 12px
}
.textarea_focus {
	BACKGROUND-COLOR: #f6fcff; FONT-SIZE: 12px
}
.radio_style {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.checkbox_style {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.button_style {
	BORDER-BOTTOM: #9cc9e0 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #9cc9e0 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: url(images/bg_admin.jpg) repeat-x 0px -51px; HEIGHT: 21px; COLOR: #077ac7; BORDER-TOP: #9cc9e0 1px solid; CURSOR: pointer; BORDER-RIGHT: #9cc9e0 1px solid; PADDING-TOP: 1px
}
#top {
	LINE-HEIGHT: 27px; MARGIN: 3px auto 0px; WIDTH: 1200px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 27px; COLOR: #077ac7; OVERFLOW: hidden
}
#top TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.cribox_bdr_1 TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
#head {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1200px; CLEAR: both; OVERFLOW: hidden
}
#main {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1200px; CLEAR: both; OVERFLOW: hidden
}
#foot {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1200px; CLEAR: both; OVERFLOW: hidden
}
#menu {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1200px; CLEAR: both; OVERFLOW: hidden
}
#submenu {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 1200px; CLEAR: both; OVERFLOW: hidden
}
#head {
	BACKGROUND: none transparent scroll repeat 0% 0%; OVERFLOW: hidden
}
#main {
	BACKGROUND: url(images/main_bg.gif) repeat-y right 0px
}
#foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial; HEIGHT: 80px; COLOR: #077ac7; PADDING-TOP: 10px
}
#foot A {
	MARGIN: 8px auto; COLOR: #000
}
#main_l {
	WIDTH: 640px; FLOAT: left; OVERFLOW: hidden
}
#main_l H1 {
	TEXT-ALIGN: center; MARGIN: 10px auto; FONT-SIZE: 18px
}
#main_r {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 315px; PADDING-RIGHT: 5px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 5px
}
#logo {
	WIDTH: 180px; FLOAT: left
}
#topbanner {
	WIDTH: 638px; FLOAT: right
}
.clear {
	CLEAR: both
}
.tit {
	MARGIN: 0px auto; WIDTH: 1200px
}
.iebanner {
	BACKGROUND: url(images/ieee_banner.jpg)
}
.bgbg {
	BACKGROUND: url(images/bgbg.gif)
}
.title {
	COLOR: #fff
}
.my_left_category {
	WIDTH: 210px; FONT-FAMILY: arial, sans-serif; LETTER-SPACING: 2px; FONT-SIZE: 13px
}
.my_left_category .my_left_cat_list {
	LINE-HEIGHT: 13.5pt; WIDTH: 208px
}
.my_left_category .my_left_cat_list H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; HEIGHT: 28px; PADDING-TOP: 3px
}
.my_left_category .my_left_cat_list H2 A {
	LINE-HEIGHT: 28px; COLOR: #59980b; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.my_left_category .my_left_cat_list H2 A:hover {
	LINE-HEIGHT: 28px; COLOR: #59980b; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.my_left_category .h2_cat {
	BACKGROUND-IMAGE: url(images/my_menubg.gif); POSITION: relative; LINE-HEIGHT: 28px; WIDTH: 208px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px; COLOR: #666; FONT-WEIGHT: normal
}
.my_left_category .h2_cat_1 {
	BACKGROUND-IMAGE: url(images/my_menubg_1.gif); POSITION: relative; LINE-HEIGHT: 28px; WIDTH: 148px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px; COLOR: #fff; FONT-WEIGHT: normal
}
.my_left_category A {
	COLOR: #fff; TEXT-DECORATION: none
}
.my_left_category A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.my_left_category H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 28px; PADDING-TOP: 0px
}
.my_left_category H3 B {
	COLOR: #fff; FONT-WEIGHT: normal
}
.my_left_category H3 SPAN {
	WIDTH: 145px; FLOAT: right; COLOR: #666
}
.my_left_category H3 A {
	LINE-HEIGHT: 28px
}
.my_left_category .h3_cat {
	POSITION: absolute; MARGIN-TOP: -28px; WIDTH: 204px; DISPLAY: none; CURSOR: auto; LEFT: 208px
}
.my_left_category .shadow {
	POSITION: inherit; WIDTH: 204px; BACKGROUND: url(images/shadow_04.gif) left top
}
.my_left_category .shadow_border {
	BORDER-BOTTOM: #959595 1px solid; POSITION: inherit; BORDER-LEFT: #959595 0px solid; MARGIN-TOP: 1px; WIDTH: 200px; MARGIN-BOTTOM: 3px; BACKGROUND: url(images/shadow_border.gif) #fff repeat-y 0px 25px; BORDER-TOP: #959595 1px solid; BORDER-RIGHT: #959595 1px solid
}
.my_left_category .shadow_border UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.my_left_category .shadow_border UL LI {
	BACKGROUND-IMAGE: url(images/my_cat_sub_menu_dot.gif); LIST-STYLE-TYPE: none; WIDTH: 180px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 8px; FLOAT: left; LETTER-SPACING: 0px; HEIGHT: 28px; OVERFLOW: hidden; LIST-STYLE-IMAGE: none
}
.my_left_category .active_cat {
	Z-INDEX: 99; BACKGROUND-POSITION: 0px -28px; CURSOR: pointer
}
.my_left_category .active_cat H3 {
	FONT-WEIGHT: bold
}
.my_left_category .active_cat H3 SPAN {
	DISPLAY: none
}
.my_left_category .active_cat H3 B {
	DISPLAY: none
}
.my_left_category .active_cat DIV {
	DISPLAY: block
}
#position {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 90px; BACKGROUND: url(images/bg_position.gif) #e4f3fc no-repeat 0px 0px; HEIGHT: 28px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
#position A {
	PADDING-RIGHT: 16px; BACKGROUND: url(images/bg_position.gif) no-repeat right -40px; COLOR: #077ac7; FONT-WEIGHT: bold
}
A.orange:hover {
	COLOR: #ff4800; TEXT-DECORATION: underline
}
A.orange:active {
	COLOR: #ff4800; TEXT-DECORATION: underline
}
A.orange:link {
	COLOR: #ff4800; TEXT-DECORATION: underline
}
A.orange:visited {
	COLOR: #ff4800; TEXT-DECORATION: underline
}
A.red:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.red:active {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.red:link {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.red:visited {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.green:hover {
	COLOR: #090; TEXT-DECORATION: underline
}
A.green:active {
	COLOR: #090; TEXT-DECORATION: underline
}
A.green:link {
	COLOR: #090; TEXT-DECORATION: underline
}
A.green:visited {
	COLOR: #090; TEXT-DECORATION: underline
}
.ieebt {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 71px; BACKGROUND: url(images/ieee_search_btn.gif); HEIGHT: 23px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.searchtextInput {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 23px; HEIGHT: 23px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.b {
	FONT-WEIGHT: bold
}
.f_l {
	FLOAT: left
}
#slide {
	FLOAT: left
}
.f_r {
	FLOAT: right
}
.date {
	FLOAT: right
}
.date {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ccc; FONT-SIZE: 11px; MARGIN-RIGHT: 8px
}
TD.align_l {
	TEXT-ALIGN: left
}
.align_l {
	TEXT-ALIGN: left
}
TD.align_c {
	TEXT-ALIGN: center
}
.align_c {
	TEXT-ALIGN: center
}
TD.align_r {
	TEXT-ALIGN: right
}
.align_r {
	TEXT-ALIGN: right
}
.c_gray {
	COLOR: #999
}
.c_blue {
	COLOR: #077ac7
}
.c_red {
	COLOR: #900
}
.c_green {
	COLOR: #090
}
.c_orange {
	COLOR: #ff4800
}
.w_100 {
	WIDTH: 100%
}
.w_310 {
	WIDTH: 310px
}
.bdr_1 {
	BORDER-BOTTOM: #b9dff9 1px solid; BORDER-LEFT: #b9dff9 1px solid; BORDER-TOP: #b9dff9 1px solid; BORDER-RIGHT: #b9dff9 1px solid
}
.bdr_2 {
	BORDER-BOTTOM: #b9dff9 1px solid; MARGIN-TOP: 8px
}
.pic IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; MARGIN: 8px auto; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.list_1 P {
	TEXT-INDENT: 2em
}
.text_list {
	
}
.text_list LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 200%; PADDING-LEFT: 1.2em; BACKGROUND: url(images/list_bg.gif) no-repeat 5px 9px
}
.text_list_1 {
	BACKGROUND: url(images/bg_model.gif) no-repeat left -34px
}
.text_list_1 LI {
	LINE-HEIGHT: 200%; PADDING-LEFT: 24px
}
.text_list_f14 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.text_list_f14 LI {
	BORDER-BOTTOM: #eee 1px dotted
}
.text_list_f14 LI A {
	FONT-SIZE: 14px
}
.pic_list {
	WIDTH: 100%; OVERFLOW: hidden
}
.pic_list LI {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 2px 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 0px
}
.pic_list LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.pic_txt_list LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.pic_list LI A {
	WHITE-SPACE: nowrap; FONT-SIZE: 12px
}
.pic_txt_list {
	
}
.pic_txt_list UL {
	MARGIN: 5px 4px
}
.pic_txt_list UL LI {
	BORDER-BOTTOM: #dcdcdc 1px dashed; PADDING-BOTTOM: 5px; MARGIN: 5px auto; HEIGHT: 66px
}
.pic_txt_list UL LI IMG {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 6px
}
.pic_txt_list_1 {
	TEXT-ALIGN: center
}
.pic_txt_list_1 IMG {
	MARGIN-TOP: 5px
}
.pic_txt_list_1 P {
	TEXT-ALIGN: left; TEXT-INDENT: 2em; MARGIN: 5px
}
#pages {
	TEXT-ALIGN: center; MARGIN: 15px auto; CLEAR: both
}
#pages A {
	BORDER-BOTTOM: #b9dff9 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b9dff9 1px solid; PADDING-BOTTOM: 2px; MARGIN: 3px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #077ac7; BORDER-TOP: #b9dff9 1px solid; BORDER-RIGHT: #b9dff9 1px solid; PADDING-TOP: 3px
}
#pages A.now {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #077ac7; COLOR: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#pages A:hover {
	BACKGROUND: #077ac7; COLOR: #fff
}
#pages A.now:hover {
	BACKGROUND: #077ac7; COLOR: #fff
}
#main_r H4 {
	BORDER-BOTTOM: #fff 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 20px; ZOOM: 1; BACKGROUND: url(images/bg_model.gif) no-repeat 0px 2px; HEIGHT: 28px; COLOR: #1589c8; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main_r H4 A {
	FLOAT: right
}
#main_r DIV {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(images/bg_maindiv.gif) #fff repeat-x 0px bottom; BORDER-TOP: #b9dff9 1px solid; PADDING-TOP: 5px
}
.mar_10 {
	MARGIN-TOP: 10px
}
.mar_5 {
	MARGIN-LEFT: 5px
}
#pages SPAN {
	BORDER-BOTTOM: #b9dff9 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b9dff9 1px solid; PADDING-BOTTOM: 2px; MARGIN: 3px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #077ac7; COLOR: #fff; BORDER-TOP: #b9dff9 1px solid; BORDER-RIGHT: #b9dff9 1px solid; PADDING-TOP: 3px
}
#rss {
	
}
#digg {
	MARGIN: 0px auto 10px; WIDTH: 140px; OVERFLOW: hidden
}
#digg SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 53px; DISPLAY: block; BACKGROUND: url(images/bg_digg.png) no-repeat 0px 0px; FLOAT: left; COLOR: #f90; TEXT-DECORATION: none; PADDING-TOP: 8px
}
#digg SPAN.cai {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 53px; DISPLAY: block; BACKGROUND: url(images/bg_digg.png) no-repeat 0px 0px; FLOAT: left; COLOR: #f90; TEXT-DECORATION: none; PADDING-TOP: 8px
}
#digg SPAN STRONG {
	FONT-FAMILY: Arial; COLOR: #fff; FONT-SIZE: 14px
}
#digg SPAN.cai {
	WIDTH: 53px; BACKGROUND-POSITION: -62px 0px; FLOAT: right; COLOR: #077ac7
}
#digg SAMP {
	CURSOR: pointer
}
.digg_text_list {
	PADDING-TOP: 5px
}
.digg_text_list LI {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 2px
}
.digg_text_list LI SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 42px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(images/bg_digg.png) no-repeat 0px -57px; FLOAT: left; HEIGHT: 18px; COLOR: #fff; FONT-SIZE: 11px; MARGIN-RIGHT: 2px; PADDING-TOP: 0px
}
.margin_10 {
	MARGIN: 10px
}
.icon_1 {
	PADDING-LEFT: 20px; BACKGROUND: url(images/bg_member_1.gif) no-repeat 0px -371px; HEIGHT: 18px; COLOR: #077ac7; MARGIN-RIGHT: 6px
}
.icon_2 {
	PADDING-LEFT: 20px; BACKGROUND: url(images/bg_member_1.gif) no-repeat 0px -371px; HEIGHT: 18px; COLOR: #077ac7; MARGIN-RIGHT: 6px
}
.icon_3 {
	PADDING-LEFT: 20px; BACKGROUND: url(images/bg_member_1.gif) no-repeat 0px -371px; HEIGHT: 18px; COLOR: #077ac7; MARGIN-RIGHT: 6px
}
.icon_4 {
	PADDING-LEFT: 20px; BACKGROUND: url(images/bg_member_1.gif) no-repeat 0px -371px; HEIGHT: 18px; COLOR: #077ac7; MARGIN-RIGHT: 6px
}
.icon_2 {
	BACKGROUND-POSITION: 0px -551px
}
.icon_3 {
	BACKGROUND-POSITION: 0px -587px
}
.icon_4 {
	BACKGROUND-POSITION: 0px -620px
}
SPAN.yes {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -418px; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -418px; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	BACKGROUND-POSITION: 0px -450px; COLOR: #c00
}
.titles {
	BORDER-BOTTOM: #b9dff9 1px solid; BORDER-LEFT: #b9dff9 1px solid; MARGIN: 10px 20px; WIDTH: 596px; OVERFLOW: hidden; BORDER-TOP: #b9dff9 1px solid; BORDER-RIGHT: #b9dff9 1px solid
}
.titles H3 {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #e4f3fc; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #077ac7; FONT-SIZE: 12px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
.titles DIV {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.titles A {
	LINE-HEIGHT: 150%; PADDING-LEFT: 8px; WIDTH: 280px; FLOAT: left
}
#xinqing LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN: 9px; DISPLAY: inline; FLOAT: left
}
#column {
	
}
#column LI {
	MARGIN: 5px 14px
}
#column LI DIV {
	BORDER-BOTTOM: #c8ddf2 1px solid; POSITION: relative; BORDER-LEFT: #c8ddf2 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #eef7f7; PADDING-LEFT: 0px; WIDTH: 20px; PADDING-RIGHT: 0px; HEIGHT: 79px; BORDER-TOP: #c8ddf2 1px solid; BORDER-RIGHT: #c8ddf2 1px solid; PADDING-TOP: 0px
}
#column LI DIV IMG {
	POSITION: absolute; WIDTH: 20px; BOTTOM: 0px; LEFT: 0px
}
.logo_list {
	WIDTH: 100%; CLEAR: both; OVERFLOW: hidden
}
.textlogo_list {
	WIDTH: 100%; CLEAR: both; OVERFLOW: hidden
}
.logo_list A {
	MARGIN: 5px; DISPLAY: block; FLOAT: left
}
.textlogo_list A {
	MARGIN: 5px; DISPLAY: block; FLOAT: left
}
.textlogo_list A {
	MARGIN: 5px; WIDTH: 116px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.c1 {
	COLOR: #000
}
.c2 {
	COLOR: #fff
}
.c3 {
	COLOR: #008000
}
.c4 {
	COLOR: #800000
}
.c5 {
	COLOR: #808000
}
.c6 {
	COLOR: #000080
}
.c7 {
	COLOR: #800080
}
.c8 {
	COLOR: #808080
}
.c9 {
	COLOR: #ff0
}
.c10 {
	COLOR: #0f0
}
.c11 {
	COLOR: #0ff
}
.c12 {
	COLOR: #f0f
}
.c13 {
	COLOR: #f00
}
.c14 {
	COLOR: #00f
}
.c15 {
	COLOR: #008080
}
.bg1 {
	BACKGROUND-COLOR: #000
}
.bg2 {
	BACKGROUND-COLOR: #fff
}
.bg3 {
	BACKGROUND-COLOR: #008000
}
.bg4 {
	BACKGROUND-COLOR: #800000
}
.bg5 {
	BACKGROUND-COLOR: #808000
}
.bg6 {
	BACKGROUND-COLOR: #000080
}
.bg7 {
	BACKGROUND-COLOR: #800080
}
.bg8 {
	BACKGROUND-COLOR: #808080
}
.bg9 {
	BACKGROUND-COLOR: #ff0
}
.bg10 {
	BACKGROUND-COLOR: #0f0
}
.bg11 {
	BACKGROUND-COLOR: #0ff
}
.bg12 {
	BACKGROUND-COLOR: #f0f
}
.bg13 {
	BACKGROUND-COLOR: #f00
}
.bg14 {
	BACKGROUND-COLOR: #00f
}
.bg15 {
	BACKGROUND-COLOR: #008080
}
.b {
	FONT-WEIGHT: bold
}
.button_box {
	TEXT-ALIGN: left; MARGIN: 5px 0px; PADDING-LEFT: 10px
}
.ad IMG {
	BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; PADDING-TOP: 1px
}
.ad_side {
	PADDING-BOTTOM: 1px !important; PADDING-LEFT: 1px !important; PADDING-RIGHT: 1px !important; PADDING-TOP: 1px !important
}
.floatdiv {
	BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: absolute; BORDER-LEFT: #dcdcdc 1px solid; MARGIN: -150px 0px 0px -200px; WIDTH: 400px; DISPLAY: none; BACKGROUND: #ff6600; HEIGHT: 300px; BORDER-TOP: #dcdcdc 1px solid; TOP: 50%; BORDER-RIGHT: #dcdcdc 1px solid; LEFT: 50%
}
.noime {
	IME-MODE: disabled
}
.commenttext TEXTAREA {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 600px; PADDING-RIGHT: 4px; BACKGROUND: url(images/bg_logo.gif) no-repeat 260px 40px; HEIGHT: 110px; PADDING-TOP: 4px
}
.commenttext LI INPUT {
	MARGIN: 0px 3px; FLOAT: left
}
.commenttext LI IMG {
	MARGIN: 0px 5px 5px; FLOAT: left
}
.cloud-zoom-lens {
	BORDER-BOTTOM: #888 4px solid; BORDER-LEFT: #888 4px solid; BACKGROUND-COLOR: #fff; MARGIN: -4px; BORDER-TOP: #888 4px solid; CURSOR: move; BORDER-RIGHT: #888 4px solid
}
.cloud-zoom-title {
	POSITION: absolute !important; TEXT-ALIGN: center; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #000; PADDING-LEFT: 3px; WIDTH: 100%; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 10px; TOP: 0px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.cloud-zoom-big {
	BORDER-BOTTOM: #ccc 4px solid; BORDER-LEFT: #ccc 4px solid; OVERFLOW: hidden; BORDER-TOP: #ccc 4px solid; BORDER-RIGHT: #ccc 4px solid
}
.cloud-zoom-loading {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #222; COLOR: white; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid; PADDING-TOP: 3px
}
.mousetrap {
	HEIGHT: 100px
}
.cloud-zoom {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 120px; DISPLAY: block; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.cloud-zoom IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.thumbnailWrapper {
	MARGIN: 0px auto; WIDTH: 960px; ext-align: center
}
.thumbnailWrapper UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.thumbnailWrapper UL LI {
	Z-INDEX: 1; POSITION: relative; MARGIN: 20px 100px 10px 60px; FLOAT: left; OVERFLOW: hidden
}
.thumbnailWrapper UL LI A IMG {
	BORDER-BOTTOM: medium none; POSITION: relative; BORDER-LEFT: medium none; WIDTH: 140px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.caption {
	POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; DISPLAY: none; BACKGROUND: #0c4b62; HEIGHT: 50px; COLOR: #fff; LEFT: 0px; opacity: 0.5
}
.caption .captionInside {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 1px
}
#large_box {
	
}
#login {
	MARGIN: 0px auto; WIDTH: 636px
}
#login_l {
	WIDTH: 236px; FLOAT: left
}
#login_r {
	MARGIN-TOP: 20px; WIDTH: 336px; BACKGROUND: url(images/bg_member.jpg) no-repeat 0px -106px; FLOAT: right; HEIGHT: 227px
}
#login_t {
	MARGIN-TOP: 20px; BACKGROUND: url(images/login_bg.gif) no-repeat 0px 0px; HEIGHT: 60px
}
#login_b {
	BACKGROUND: url(images/login_bg.gif) no-repeat 0px -58px; HEIGHT: 15px
}
#login_l UL {
	BORDER-LEFT: #333 4px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BORDER-RIGHT: #333 4px solid; PADDING-TOP: 10px
}
#login_l UL LI {
	LINE-HEIGHT: 30px; HEIGHT: 36px
}
#login_r A IMG {
	MARGIN: 80px 0px 10px 100px
}
#login_r P {
	MARGIN: 15px 0px 0px 105px; COLOR: #999
}
#protocol {
	LINE-HEIGHT: 180%; WIDTH: 100%; HEIGHT: 400px; OVERFLOW: auto
}
SPAN.yes {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -418px; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 1.6em; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -418px; HEIGHT: 18px; COLOR: #070; PADDING-TOP: 0.4em
}
SPAN.no {
	BACKGROUND-POSITION: 0px -450px; COLOR: #c00
}
#main {
	MARGIN: 10px auto; WIDTH: 980px
}
#left {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#right {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#left IMG {
	PADDING-BOTTOM: 1px; MARGIN: 0px auto; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
#treemenu {
	BORDER-BOTTOM: #cc6600 1px solid
}
#space {
	BORDER-BOTTOM: #cc6600 1px solid
}
#treemenu H5 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; TEXT-INDENT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 15px 6px; HEIGHT: 34px; COLOR: #069; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#space H5 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; TEXT-INDENT: 30px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 15px 6px; HEIGHT: 34px; COLOR: #069; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#treemenu UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#treemenu OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#treemenu UL LI {
	LINE-HEIGHT: 24px; TEXT-INDENT: 30px; MARGIN: 4px 0px
}
#left OL LI {
	LINE-HEIGHT: 24px; TEXT-INDENT: 30px; MARGIN: 4px 0px
}
#treemenu UL LI A {
	WIDTH: 100%; DISPLAY: block; COLOR: #000; TEXT-DECORATION: none
}
#left OL LI A {
	WIDTH: 100%; DISPLAY: block; COLOR: #000; TEXT-DECORATION: none
}
#treemenu UL LI A:hover {
	BACKGROUND: url(images/member_bg_1.gif) #f2f9fd no-repeat 170px -24px; COLOR: #069
}
#space {
	TEXT-ALIGN: center; MARGIN: 0px auto
}
#space H5 {
	TEXT-ALIGN: left
}
#space IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; MARGIN: 10px auto 0px; PADDING-LEFT: 1px; WIDTH: 150px; PADDING-RIGHT: 1px; HEIGHT: 150px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
#space P {
	MARGIN: 8px auto
}
A.msg {
	PADDING-LEFT: 20px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -88px
}
A.edit {
	PADDING-LEFT: 18px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -345px
}
#left OL LI.local {
	BACKGROUND: url(images/member_bg_1.gif) no-repeat 10px -143px
}
#left OL LI.help {
	BACKGROUND: url(images/member_bg_1.gif) no-repeat 8px -170px
}
#left OL LI.exit {
	BACKGROUND: url(images/member_bg_1.gif) no-repeat 8px -200px
}
#left OL LI A:hover {
	COLOR: #f90; TEXT-DECORATION: none
}
A.msg:hover {
	COLOR: #f90; TEXT-DECORATION: none
}
A.edit:hover {
	COLOR: #f90; TEXT-DECORATION: none
}
#right {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; WIDTH: 770px; FLOAT: right; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#box {
	BORDER-BOTTOM: #9cc9e0 1px solid; BORDER-LEFT: #9cc9e0 1px solid; LINE-HEIGHT: 51px; MARGIN: 1px; PADDING-LEFT: 10px; BACKGROUND: #f9fcfd; HEIGHT: 51px; COLOR: #454545; BORDER-TOP: #9cc9e0 1px solid; BORDER-RIGHT: #9cc9e0 1px solid
}
.box_l {
	LINE-HEIGHT: 25px; WIDTH: 460px; FLOAT: left; COLOR: #666
}
.box_l STRONG {
	PADDING-RIGHT: 9px; COLOR: #121212
}
.box_r {
	PADDING-LEFT: 20px; WIDTH: 230px; BACKGROUND: url(images/member_bg.jpg) no-repeat 0px -53px; FLOAT: right
}
.box_r H1 {
	LINE-HEIGHT: 24px; PADDING-LEFT: 20px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -56px; FONT-SIZE: 12px
}
.box_r LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 5px
}
#member_menu {
	MARGIN: 10px auto; WIDTH: 740px
}
#quick_menu {
	MARGIN: 10px auto; WIDTH: 740px
}
#member_menu A {
	TEXT-ALIGN: center; MARGIN: 10px 8px; WIDTH: 80px; DISPLAY: block; FLOAT: left; TEXT-DECORATION: none
}
#quick_menu A {
	TEXT-ALIGN: center; MARGIN: 10px 8px; WIDTH: 80px; DISPLAY: block; FLOAT: left; TEXT-DECORATION: none
}
#quick_menu A IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 48px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 8px; HEIGHT: 48px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 1px
}
#quick_menu A:hover IMG {
	BORDER-BOTTOM: #077ac7 1px solid; BORDER-LEFT: #077ac7 1px solid; WIDTH: 48px; MARGIN-BOTTOM: 8px; HEIGHT: 48px; BORDER-TOP: #077ac7 1px solid; BORDER-RIGHT: #077ac7 1px solid
}
.email {
	PADDING-RIGHT: 20px; BACKGROUND: url(images/member_bg_1.gif) no-repeat right -87px
}
#memberinfo {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 300px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#memberinfo A {
	PADDING-LEFT: 20px; BACKGROUND: url(images/member_bg_1.gif) no-repeat 0px -370px; COLOR: #f90; MARGIN-LEFT: 20px; TEXT-DECORATION: underline
}
.member_info {
	BORDER-BOTTOM: #9cc9e0 1px solid; TEXT-ALIGN: center; MARGIN: 6px 0px
}
.member_info {
	TEXT-ALIGN: left; COLOR: #077ac7
}
.member_info TH {
	TEXT-ALIGN: right; WIDTH: 80px; COLOR: #077ac7
}
.member_info TD {
	WIDTH: 120px; COLOR: #077ac7
}
.member_info TD {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.member_info TH {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
#model {
	MARGIN-TOP: 50px; WIDTH: 270px; FLOAT: right
}
#model A {
	LINE-HEIGHT: 20px; TEXT-INDENT: 30px; WIDTH: 90px; DISPLAY: block; BACKGROUND: url(images/btn_bg_1.gif) no-repeat; HEIGHT: 20px
}
#model A:hover {
	COLOR: #f90
}
.model-reg {
	MARGIN: 10px 0px 10px 30px; WIDTH: 600px
}
.model-reg DT {
	MARGIN-TOP: 20px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.model-reg DD {
	PADDING-LEFT: 20px; COLOR: #999; PADDING-TOP: 10px
}
.modellist_2 {
	WIDTH: 100%; OVERFLOW: hidden
}
.modellist_2 H3 {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 24px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(images/bg_2.jpg) repeat-x 0px 24px; HEIGHT: 24px; COLOR: #077ac7; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#quick_menu H3 {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 24px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(images/bg_2.jpg) repeat-x 0px 24px; HEIGHT: 24px; COLOR: #077ac7; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.model-reg H3 {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 24px; MARGIN: 5px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(images/bg_2.jpg) repeat-x 0px 24px; HEIGHT: 24px; COLOR: #077ac7; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#quick_menu H3 {
	WIDTH: 100%
}
.modellist_2_1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 200px; FLOAT: left
}
.modellist_2_1 IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.modellist_2_1 A {
	COLOR: #000; FONT-SIZE: 12px
}
.modellist_2_1 UL LI {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 5px 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 0px
}
.modellist_2_2 {
	WIDTH: 560px; FLOAT: left
}
.modellist_2_2 LI {
	LINE-HEIGHT: 200%; PADDING-LEFT: 10px; BACKGROUND: url(images/list_bg.gif) no-repeat 0px 7px
}
.modellist_2_2 LI A {
	FONT-SIZE: 12px
}
.arial {
	FONT-FAMILY: Arial; FONT-SIZE: 11px
}
#head {
	POSITION: relative; MARGIN: 0px auto; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 80px
}
#logo {
	POSITION: absolute; WIDTH: 200px; TOP: 20px; LEFT: 30px
}
#banner {
	POSITION: absolute; WIDTH: 700px; TOP: 30px; RIGHT: 0px
}
.align_center {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#membermenu {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 1px auto 0px; BACKGROUND: url(images/memberhead_bg.jpg) repeat-x 0px -65px; HEIGHT: 30px
}
#membermenu A {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline; BACKGROUND: url(images/memberhead_bg.jpg) no-repeat right -35px; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 9px
}
#menu_now {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline; BACKGROUND: url(images/memberhead_bg.jpg) no-repeat right -35px; COLOR: #fff; TEXT-DECORATION: none; PADDING-TOP: 9px
}
#membermenu A:hover {
	BORDER-LEFT: #52a0e0 1px solid; BACKGROUND: url(images/memberhead_bg.jpg) repeat-x right -2px; COLOR: #069; BORDER-RIGHT: #52a0e0 1px solid; TEXT-DECORATION: none
}
#menu_now {
	BORDER-LEFT: #52a0e0 1px solid; BACKGROUND: url(images/memberhead_bg.jpg) repeat-x right -2px; COLOR: #069; BORDER-RIGHT: #52a0e0 1px solid; TEXT-DECORATION: none
}
.pw_check {
	WIDTH: 150px; BACKGROUND: url(images/pw_check.gif) no-repeat; HEIGHT: 20px
}
.pw_check SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 14px; WIDTH: 50px; DISPLAY: block; MARGIN-BOTTOM: 6px; FLOAT: left; HEIGHT: 14px
}
#pw_check_1 {
	BACKGROUND-POSITION: 0px bottom
}
#pw_check_2 {
	BACKGROUND-POSITION: -150px bottom
}
#pw_check_3 {
	BACKGROUND-POSITION: -300px bottom
}
.table_reg {
	BORDER-BOTTOM: #bff1ff 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 6px; MARGIN: 10px auto; PADDING-LEFT: 30px; WIDTH: 98%; PADDING-RIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.table_reg TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 8px
}
.table_reg CAPTION {
	BORDER-BOTTOM: #8da7c4 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 6px; MARGIN: 10px auto 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BACKGROUND: url(images/login_bg.gif) no-repeat -1px -77px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
#position {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #99d3fb 1px solid; BORDER-LEFT: #99d3fb 1px solid; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #ecf7fe; PADDING-LEFT: 5px; HEIGHT: 24px; COLOR: #787878; BORDER-TOP: #99d3fb 1px solid; BORDER-RIGHT: #99d3fb 1px solid
}
#position STRONG {
	PADDING-LEFT: 20px; BACKGROUND: url(images/bg_member_1.gif) no-repeat left -111px; COLOR: #077ac7
}
#position A {
	PADDING-RIGHT: 18px; BACKGROUND: url(images/bg_member_1.gif) no-repeat right -128px; COLOR: #077ac7
}
.search_member {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 8px; MIN-HEIGHT: 96px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 96px; CLEAR: both; PADDING-TOP: 8px
}
.search_member DT {
	FLOAT: left
}
.search_member DT IMG {
	BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 90px; PADDING-RIGHT: 1px; HEIGHT: 90px; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; PADDING-TOP: 1px
}
.search_member DD {
	LINE-HEIGHT: 30px; WIDTH: 640px; FLOAT: right; HEIGHT: 30px
}
.search_member DD EM {
	FONT-STYLE: normal; PADDING-LEFT: 10px; COLOR: #999
}
.tag_menu {
	BORDER-BOTTOM: #99d3fb 3px solid; MARGIN: 10px auto 0px; WIDTH: 99%; OVERFLOW: hidden
}
.tag_menu UL {
	TEXT-ALIGN: left
}
.tag_menu LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 27px; MARGIN-RIGHT: 3px; PADDING-TOP: 0px
}
.tag_menu LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; WIDTH: 98px; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: url(images/tag_menu.gif) no-repeat 0px -27px; FLOAT: left; HEIGHT: 27px; COLOR: #1589c8; TEXT-DECORATION: none
}
.tag_menu LI A:link {
	TEXT-DECORATION: none
}
.tag_menu LI A:visited {
	TEXT-DECORATION: none
}
.tag_menu LI A:hover {
	TEXT-DECORATION: none
}
.tag_menu LI A:active {
	TEXT-DECORATION: none
}
.tag_menu LI A.selected {
	BACKGROUND: url(images/tag_menu.gif) no-repeat 0px 0px
}
.tag_menu LI A.selected:link {
	COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tag_menu LI A.selected:visited {
	COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tag_menu LI A.selected:hover {
	COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tag_menu LI A.selected:active {
	COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.message {
	MARGIN-TOP: 10px
}
.message CAPTION {
	BORDER-BOTTOM: #99d3fb 1px solid; TEXT-ALIGN: left; LINE-HEIGHT: 30px; MARGIN-TOP: 10px; PADDING-LEFT: 28px; BACKGROUND: url(images/bg_msg.gif) no-repeat 0px 4px; COLOR: #077ac7; FONT-WEIGHT: bold
}
.message TD {
	BORDER-BOTTOM: #99d3fb 1px solid
}
